.logincontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav {
  background-color: rgba(255, 255, 255);
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Adjust the z-index as needed */
  /* Optionally, you can add other styles such as padding, height, etc. */
  padding: 10px 20px;
  width: 100%;
}
.navitems {
  list-style: none; /* Remove default list styling */
  margin: 0;
  padding-left: 45%;
  padding-right: 10px;
  gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}
.logout {
  color: #f8c869;
}
.homecontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: x-large;
  margin-top: 20%;
}

.heading {
  color: black !important;
  font-weight: 800;
  font-size: larger;
  padding: 10px;
}
.container {
  background-color: rgba(245, 245, 245, 0.7);
  width: 500px;
  height: 400px;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}

.inputf {
  display: flex;
  flex-direction: column;
}
.inptext {
  width: 100%;
  padding: 4px;
  margin-bottom: 9px;
  border: 2;
  border-color: black;
  border-radius: 0%;
  outline: 0;
}

.error {
  color: red;
  font-weight: 500;
  font-size: smaller;
}
.down {
  margin-top: 30px;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: smaller;
}
.bi {
  margin-top: 10px;
  margin-bottom: 0;
  width: 100%;
}
.smalltext {
  font-size: small;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: green;
}
.custcomp {
  width: 100%;
  height: 400px;
  border-radius: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.custcon {
  background-color: rgba(245, 245, 245, 0.7);
  width: 400px;
  height: 350px;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20%;
  cursor: pointer;
}
.smt {
  font-size: small;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: gray;
}
.profile {
  display: flex;
  flex-direction: column;
  gap: 90px;
}

.pronav {
  align-items: flex-start;
  display: flex;
  padding-top: 10px;
  flex-direction: row;
  /* Optionally, you can add other styles such as padding, height, etc. */
  text-align: start;
  margin-top: 20%;
}

.imagcon {
  background-color: rgba(255, 255, 255, 0.525);
  border-radius: 50px;
}
.cont {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.svg-container {
  margin-right: 20px;
}

.styled-table {
  width: 1000px;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.styled-table th,
.styled-table td {
  padding: 10px;
  text-align: left;
  gap:14px
}


.styled-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
}

.styled-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.styled-table tr:hover {
  background-color: #f2f2f2;
}

.icon-button {
  background-color: #f8c869;
  cursor: pointer;
  color: black;
  margin: 2;
}

.icon-button:hover {
  color: #007bff;
  /* Change color on hover */
}